# MY FIRST PROJECT

in this Jupyter notebook, the purpose is to showcase what has been learned throughout the course and demonstrate my acquired knowledge.

## Data science languages

PYTHON

R

SQL

SCALA

C++

JULIA

JAVA SCRIPT

RUBY

GO

VISUAL BASIC

## Libraries in data science  

The libraries used for data science are NumPy,SciPy,Matplotlib,TensorFlow,PyTorch,Keras, Scikit-learn,vegas,BigDL,ggplot2

## Tools for data science 

Next, a table will be presented with different tools for data management, data integration and transformation, data visualization, model implementation, and finally, model monitoring and evaluation."

In [2]:
import pandas as pd
data= { "data management" : ["MySQL","PostgreSQL","mongoDB","Cassandra"]
       ,"data integration and transformation" : ["Kubeflow","apache kafka","apache airflow","Node-Red"]
       , "data visualization" : ["PixieDust","superset","kibana","Hue"]
       ,"model deployment" : ["predictionIO","seldon","mleap","tensorflow serving"]
       , "model monitoring and evaluation" : ["ModelIDB","Prometheus","IBM research trusted IA","AI explainability 360"]}
pd.DataFrame(data)

,data management,data integration and transformation,data visualization,model deployment,model monitoring and evaluation
0,MySQL,Kubeflow,PixieDust,predictionIO,ModelIDB
1,PostgreSQL,apache kafka,superset,seldon,Prometheus
2,mongoDB,apache airflow,kibana,mleap,IBM research trusted IA
3,Cassandra,Node-Red,Hue,tensorflow serving,AI explainability 360

## Example of arithmetic expressions

These are, for example, additions, subtractions, multiplications, and divisions. An example of this is 2*5(9-4*2)

## Code cell for additions and multiplications

In [8]:
(2+2)*3

12

## Converting minutes to hours

In [10]:
x=int(input("Enter the minutes you want to convert: "))
hours= x/60
print(hours)

Enter the minutes you want to convert: 120
2.0

##  Author's name

Jonatan David Rodas Piedrahita